body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 20px;
    background-color: brown;
    
    }
    
    .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    }
    
    ul {
    list-style: none;
    padding: 0;
    }